body {
    text-align: center;
}

div.picture-holder {
    width: 300px;
    height: 450px;
    float: left;
    box-sizing: border-box;
}

div.favoriet {
    width: 300px;
    height: 150px;
    background-image: none;
}

#pics {
    width: 900px;
    height: 1350px;
    border: solid 1px black;
    font-size: 0;
    margin: auto;
}